
@media print {

    body {
        color: black;
        /*background-color: lavender;*/
        line-height: 1.5;
        font-size: 10pt;
        background: white;
        padding: 10px 10px 10px 10px;
        font-family: serif;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }
    img  {
        box-shadow: none !important;
    }


}











/*body { background: white; }*/

/*#menu { display: none; }*/

/*#wrapper, #content {*/
    /*width: auto;*/
    /*border: 0;*/
    /*margin: 0 5%;*/
    /*padding: 0;*/
    /*float: none !important;*/
    /*background:transparent;*/
    /**/
    /**/
/*}*/

/*@media print {*/
    /*body {*/
        /*font: Georgia, "Times New Roman", Times, serif;*/
        /*background: #fff;*/
        /*font-size: 11pt;*/
    /*}*/
/*}*/

/*div#content {*/
    /*margin-left: 10%;*/
    /*padding-top: 1em;*/
    /*border-top: 1px solid #930;*/
/*}*/

/*div#mast {*/
    /*margin-bottom: -8px;*/
/*}*/

/*div#mast img {*/
    /*vertical-align: bottom;*/
/*}*/

/*a:link,*/
/*a:visited {*/
    /*color: #520;*/
    /*background: transparent;*/
    /*font-weight: bold;*/
    /*text-decoration: underline;*/
/*}*/

/*#content a:link:after,*/
/*#content a:visited:after {*/
    /*content: " (" attr(href) ") ";*/
    /*font-size: 90%;*/
/*}*/

/*#content a[href^="/"]:after {*/
    /*content: " (http://www.alistapart.com" attr(href) ") ";*/
/*}*/