/* Write the CSS for you answer here */


.images {
    position: absolute;
    width: 700px;
    height: 540px;
    top: 20%;
    left:20%
}

#landscape {
    position: absolute;
    left: 0;
    top: 0%;
    z-index: 0;
}
#pohutukawa {
    position: absolute;
    left: 0;
    top: 20%;
    width: 700px;
    z-index: 3;
}

#red{
    position: absolute;
    left: 50px;
    top: 350px;
    z-index: 4;
}

#blue{
    position: absolute;
    left: 150px;
    top: 200px;
    z-index: 4;
}

#darkblue{
    position: absolute;
    left: 300px;
    top: 250px;
    z-index: 4;
}

#green{
    position: absolute;
    left: 400px;
    top: 190px;
    z-index: 4;
}
#pink{
    position: relative;
    left: 400px;
    top: 330px;
    z-index: 2;
}
#orange{
    position: absolute;
    left: 600px;
    top: 270px;
    z-index: 4;
}

img#pohutukawa  {
    pointer-events: none;
}




